---
title: CV
permalink: /info/cv/
layout: info
---

<section id="cv">
  <ul>
{% for set in site.data.cv %}
    <h2>{{ set.set }}</h2>
    {% assign list = set.list | group_by: "year" %}
    {% for year in list %}
      <h3>{{ year.name }}</h3>
      {% for entry in year.items %}
        <li>
          <p class="title">
            {% if entry.work %}<a href="/projects/{{ entry.work }}/">{% endif %}
              {{ entry.title }}
            {% if entry.work %}</a>{% endif %}
          </p>
          <p class="context">{{ entry.context }}</p>
        </li>
      {% endfor %}
    {% endfor %}
    <hr/>
{% endfor %}
  </ul>
</section>
