/* Variables */

:root {
  --c-bg: white;
  --c-bg-view: rgba(0, 0, 0, .1);
  --c-text: black;
  --c-text-off: rgba(0, 0, 0, .4);
  --c-line: rgba(0, 0, 0, .2);
  --c-hover: rgb(0, 152, 216);

  --f-size: 15px;
  --f-serif: "Times New Roman", Times, serif;
  --f-sans: Arial, sans-serif;
}



/* Page structure */

* {
  box-sizing: border-box;
}

html {
  font-size: var(--f-size);
}

body {
  margin: 2rem;

  font-family: var(--f-sans);
  line-height: 1.5;
  color: var(--c-text);
  background: var(--c-bg);
}



/* Basic text styles */

a {
  text-decoration: none;
  color: var(--c-text);
}

a:hover {
  color: var(--c-hover) !important;
}



/* Nav lists */

nav ul:not(.all) li:not(.viewing) a {
  color: var(--c-text-off);
}

nav li.viewing a:hover {
  color: var(--text) !important;
}

nav#projects h1 {
  width: max-content;
  margin-bottom: .5rem;
  font-weight: bold;
  border-bottom: 1px solid var(--c-line);
}



/* Gallery */

div#gallery {
  font-size: 0;
  line-height: 0;
}

div#gallery li:not(.clean):not(.full) {
  background: var(--c-bg-view);
}

div#gallery li:not(.clean):not(.full) img {
  box-shadow: 5px 5px 20px var(--c-line);
}



/* About page */

section#bio {
  /* grid-column: 2 / 3; */

  /* font-family: var(--f-serif); */
  /* font-size: 1.5rem; */
  /* line-height: 1.4; */
}

section#bio p + p {
  /* margin-top: 1rem; */
  /* text-indent: 10em; */
}
