/* Variables */

:root {
  /* light mode */
  --l-bg:       white;
  --l-bg-view:  rgba(0, 0, 0, .1);
  --l-text:     black;
  --l-text-off: rgba(0, 0, 0, .4);
  --l-shadow:   rgba(0, 0, 0, .2);
  --l-line:     rgba(0, 0, 0, .2);

  /* dark mode */
  --d-bg:       rgb(25.5, 25.5, 25.5);
  --d-bg-view:  rgb(25.5, 25.5, 25.5);
  --d-text:     white;
  --d-text-off: rgba(255, 255, 255, .6);
  --d-shadow:   rgba(0, 0, 0, 1);
  --d-line:     rgba(255, 255, 255, .2);

  /* defaults for swap */
  --x-text:     var(--l-text);
  --x-text-off: var(--l-text-off);
  --x-line:     var(--l-line);

  /* concrete values */
  --c-bg:       var(--l-bg);
  --c-bg-view:  var(--l-bg-view);
  --c-text:     var(--x-text);
  --c-text-off: var(--x-text-off);
  --c-line:     var(--x-line);
  --c-shadow:   var(--l-shadow);

  /* typography */
  --f-size:     15px;
  --f-serif:    "Times New Roman", Times, serif;
  --f-sans:     Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-bg:       var(--d-bg);
    --c-bg-view:  var(--d-bg-view);
    --c-shadow:   var(--d-shadow);

    --x-text:     var(--d-text);
    --x-text-off: var(--d-text-off);
    --x-line:     var(--d-line);
  }
}



/* Page structure */

* {
  box-sizing: border-box;
}

html {
  font-size: var(--f-size);
  background: var(--c-bg);
}

body {
  margin: 2rem;

  font-family: var(--f-sans);
  line-height: 1.5;
  color: var(--c-text);
  background: var(--c-bg);
}



/* Basic text styles */

a {
  text-decoration: none;
  color: var(--c-text);
}

em {
  font-style: italic;
}



/* Nav lists */

nav ul:not(.all) li:not(.viewing),
nav ul:not(.all) li:not(.viewing) a {
  color: var(--c-text-off);
}

nav li[data-index] {
  cursor: pointer;
}

nav#projects h1 {
  width: max-content;
  margin-bottom: 1rem;
  font-weight: bold;
  border-bottom: 1px solid var(--c-line);
}

nav#projects p + p.info {
  margin-top: 1rem;
}



/* Gallery */

div#gallery {
  font-size: 0;
  line-height: 0;
}

div#gallery li:not(.flat):not(.full) {
  background: var(--c-bg-view);
}

div#gallery li.dark-bg {
  background: var(--d-bg-view);
}

div#gallery li:not(.flat):not(.full) img {
  box-shadow: 5px 5px 20px var(--c-shadow);
}

div#gallery li.dark-bg:not(.flat):not(.full) img {
  box-shadow: 5px 5px 20px var(--d-shadow);
}

div#gallery div.text {
  font-family: var(--f-serif);
  line-height: 1.5;
}

div#gallery div.text p + p {
  margin-top: .5em;
}

div#gallery li.grid div {
  width: 100%;
  display: grid;
  grid-auto-rows: 1fr;
}

div#gallery li.grid img {
  width: 100%;
}



/* About page */

section#bio {
  /* grid-column: 2 / 3; */

  /* font-family: var(--f-serif); */
  /* font-size: 1.5rem; */
  /* line-height: 1.4; */
}

section#bio p + p {
  /* margin-top: 1rem; */
  /* text-indent: 10em; */
}
