:root {
  --c-bg: white;
  --c-text: black;
  --c-text-off: rgba(0, 0, 0, .4);
  --c-line: rgba(0, 0, 0, .2);

  --f-size: 15px;
  --f-serif: "Times New Roman", Times, serif;
  --f-sans: Arial, sans-serif;
}

html {
  font-size: var(--f-size);
}



* {
  box-sizing: border-box;
}

body {
  min-height: calc(100vh - 4rem);
  margin: 2rem;
  position: relative;

  font-family: var(--f-sans);
  line-height: 1.5;
}



a {
  text-decoration: none;
  color: var(--c-text);
}



nav {
  width: max-content;
  max-width: 15vw;
  position: absolute;
}

nav#pages {
  right: 0;
  text-align: right;
}

nav#projects ul.details a {
  color: var(--c-text-off);
}

nav#projects li.viewing {
  margin: 1rem 0;
}

nav#projects li:first-of-type {
  /* corrects double margin in first project */
  margin-top: 0;
}

nav#projects h1 {
  width: max-content;
  margin-bottom: .5rem;
  font-weight: bold;
  border-bottom: 1px solid var(--c-line);
}
