/* Variables
 * (handles swap of text colors when request by gallery) */

@media (prefers-color-scheme: light) {
  :root.d-colors {
    --c-bg:       var(--d-bg);
    --c-bg-view:  var(--d-bg-view);
    --c-text:     var(--d-text);
    --c-text-off: var(--d-text-off);
    --c-line:     var(--d-line);
    --c-shadow:   var(--d-shadow);
  }
}

@media (prefers-color-scheme: dark) {
  :root.l-colors {
    --c-bg:       var(--l-bg);
    --c-bg-view:  var(--l-bg-view);
    --c-text:     var(--l-text);
    --c-text-off: var(--l-text-off);
    --c-line:     var(--l-line);
    --c-shadow:   var(--l-shadow);
  }
}



/* Page structure */

body {
  height: calc(100vh - 4rem);

  display: grid;
  grid-template-columns: repeat(4, 1fr) [right] 1fr;
  grid-column-gap: 2rem;
  grid-auto-rows: 1fr;
  grid-auto-flow: column;
}



/* Nav lists */

nav {
  z-index: 10;
}

nav#masthead {
  grid-column-start: right;
  align-self: start;
  text-align: right;

  position: sticky;
  top: 2rem;
}

nav#projects {
  grid-row-end: span 3;
}

nav#projects li.viewing {
  margin: 2rem 0;
}

nav#projects li:first-of-type {
  /* corrects double margin in first project */
  margin-top: 0;
}

nav#page-images {
  grid-column-start: right;
  align-self: center;

  font-size: 1.5rem;
  line-height: 1;
  text-align: right;
}

nav#page-images li[data-index=""] {
  visibility: hidden;
}

nav#page-projects {
  display: none;
}

nav#details {
  grid-column-start: right;
  align-self: end;
  text-align: right;

  position: sticky;
  bottom: 2rem;
}

:root.isolate nav ul {
  background: rgba(0, 0, 0, .5);
  margin: -.5rem;
  padding: .5rem;
}

:root.isolate nav:not(#projects) {
  justify-self: right;
}



/* Gallery */

div#gallery {
  position: fixed;
  top: 0;
  left: 0;
}

div#gallery li {
  width: 100vw;
  height: 100vh;
  position: absolute;

  transition: opacity .25s ease;
}

div#gallery li:not(.grid) img,
div#gallery iframe,
div#gallery div.text,
div#gallery li.grid div {
  max-width: calc(100vh - 4rem);
  max-height: calc(100vh - 4rem);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#gallery li.wide:not(.grid) img,
div#gallery li.grid.wide div {
  max-width: 75vw;
}

div#gallery li:not(.viewing) {
  opacity: 0;
}

div#gallery li:not(.viewing) * {
  pointer-events: none;
}

div#gallery li.full img {
  width: 100%;
  height: 100%;
  max-height: none;
  max-width: none;
  object-fit: cover;
}

div#gallery li div {
  position: absolute;
  top: 50%;
  left: 50%;
}

div#gallery div.text {
  font-size: 1.5rem;
}

div#gallery li.grid div {
  grid-gap: 1rem;
  grid-template-columns: var(--grid-l);
}

p#waiting {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 2rem;
  line-height: 0;
  color: var(--c-line);
}
