/* Nav lists */

nav#masthead {
  margin: -1rem -2rem 2rem;
  padding: 0 2rem 1rem;
  border-bottom: 1px solid var(--c-line);
}

nav#masthead li,
nav#page-projects li {
  margin-right: 1rem;
  display: inline-block;
}

nav#projects {
  margin-bottom: 4rem;
}

nav#projects ul:not(.all) li:not(.viewing) {
  display: none;
}

nav#page-images {
  display: none;
}

nav#page-projects {
  margin-top: 4rem;
}

body:not(.info) nav#details {
  display: none;
}

nav#details {
  padding: 1rem 2rem;
  position: absolute;
  top: 0;
  right: 0;
}

nav#details li {
  margin-left: 1rem;
  display: inline-block;
}



/* Gallery */

div#gallery li {
  margin: 2rem -2rem;
  padding: 0 2rem;
}

@media (prefers-color-scheme: light) {
  div#gallery li[class=""],
  div#gallery li[class="viewing"],
  div#gallery li.grid {
    padding: 2rem;
  }

  div#gallery li[class=""] + li.grid {
    margin-top: -2rem;
  }

  div#gallery li[class=""] + li[class=""],
  div#gallery li[class="viewing"] + li[class=""] {
    margin-top: -2rem;
    padding-top: 0;
  }
}

div#gallery img {
  max-width: 100%;
}

div#gallery div.text {
  padding-top: 2rem;
  font-size: 1.25rem;
}

div#gallery li.grid div {
  grid-gap: .5rem;
  grid-template-columns: var(--grid-p);
}

p#waiting {
  display: none;
}



/* CV */

section#cv ul {
  margin-top: 2rem;
}

section#cv h2 {
  margin-top: 2rem;
}

section#cv h3 {
  margin-top: 1rem;
}

section#cv li {
  margin-top: .5rem;
}

section#cv hr {
  display: none;
}
