<!doctype html>
<html>
  <head>
    <meta charset="utf8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="A. Mattson Gallagher"/>
    <meta name="title" content=""/>
    <meta name="description" content=""/>
    <meta name="copyright" content="&copy; 2005 &ndash; present, A. Mattson Gallagher"/>

    <!-- link rel="shortcut icon" href="/diridxicons/small/text.png"/ -->

    <link href="/assets/css/reset.css" rel="stylesheet" media="screen" type="text/css"/>
    <link href="/assets/css/css.css" rel="stylesheet" media="screen" type="text/css"/>

    <title>
      a&thinsp;&mdash;&thinsp;m&thinsp;&mdash;&thinsp;g
      {%- if page.title != "Index" -%}
       &ensp;/&ensp;{{- page.title -}}
      {% endif %}
    </title>
  </head>
  <body>

    {{ content }}

  </body>
</html>
