<!doctype html>
<html>
  <head>
    <meta charset="utf8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="A. Mattson Gallagher"/>
    <meta name="title" content=""/>
    <meta name="description" content=""/>
    <meta name="copyright" content="&copy; 2005 &ndash; present, A. Mattson Gallagher"/>

    <!-- link rel="shortcut icon" href=""/ -->

    <link href="/assets/css/reset.css" rel="stylesheet" media="screen" type="text/css"/>
    <link href="/assets/css/default.css" rel="stylesheet" media="screen" type="text/css"/>
    <link href="/assets/css/landscape.css" rel="stylesheet" media="screen and (orientation: landscape)" type="text/css"/>
    <link href="/assets/css/portrait.css" rel="stylesheet" media="screen and (orientation: portrait)" type="text/css"/>

    <title>
      {% if page.url != "/index.html" %}
       {{- page.title -}}
       &ensp;/&ensp;
      {%- endif -%}
      A. Mattson Gallagher
    </title>
  </head>
  <body>

    <nav id="masthead">
      <ul>
        {% for p in site.pages reversed %}
          <li{% if page.url == p.url %} class="viewing"{% endif %}>
            <a href="{{ p.url | replace: "index.html", "" }}">{{ p.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    {{ content }}

  </body>
</html>
