---
layout: default
---

{% if page.collection == "projects" %}
  {% assign is_project = true %}
  {% assign slug = page.path | split: "/" | shift | first %}
  {% assign images = site.documents
      | where_exp: "d", "d.path contains slug"
      | where_exp: "d", "d.name"
      | sort: "basename" %}
  {% assign image_exts = ".jpg .png .gif" %}
  {% assign embed_exts = ".html" %}
{% endif %}



<nav id="projects">
  <ul{% if is_project != true %} class="all"{% endif %}>
    {% for p in site.projects reversed %}
        {% if p.url == page.url %}
          <li class="viewing">
            <h1>{{ page.title }}</h1>
            {{ content }}
            <p class="info">{{ page.date | date: "%Y" }}</p>
            <p>{{ page.medium }}</p>
            <p>{{ page.dimension | replace: " x ", "&thinsp;&times;&thinsp;" }}</p>
          </li>
        {% else %}
          <li><a href="{{ p.url | replace: "index.html", "" }}">{{ p.title }}</a></li>
        {% endif %}
    {% endfor %}
  </ul>
</nav>

{% if is_project %}

  <div id="gallery"
       data-next="{{ page.previous.url | replace: "index.html", "" }}"
       data-prev="{{ page.next.url | replace: "index.html", "" }}">
    <ul>
      {% for i in images %}
        {% assign settings = page.settings[i.name] %}

        {% if image_exts contains i.extname %}
          {% assign image = true %}
          {% assign embed = false %}
        {% elsif embed_exts contains i.extname %}
          {% assign image = false %}
          {% assign embed = true %}
        {% endif %}

        {% assign class = "" %}
        {% if settings.full %}
          {% assign class = class | append: " full" %}
        {% endif %}
        {% if settings.flat or embed %}
          {% assign class = class | append: " flat" %}
        {% endif %}
        {% assign class = class | strip %}

        <li class="{{ class }}">
          {% if image %}
            <img src="{{ i.name }}"/>
          {% elsif embed %}
            {% include_relative {{ i.name }} %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>

  <p id="waiting">&bull;&nbsp;&bull;&nbsp;&bull;</p>

  <nav id="page-images">
    <ul>
      <li class="prev" data-index="">&larr;</li>
      <li class="next" data-index="">&rarr;</li>
    </ul>
  </nav>

  <nav id="page-projects">
    <ul>
      {% if page.next %}
        <li><a href="{{ page.next.url | replace: "index.html", "" }}">previous</a></li>
      {% endif %}
      {% if page.previous %}
        <li><a href="{{ page.previous.url | replace: "index.html", "" }}">next</a></li>
      {% endif %}
    </ul>
  </nav>

  <nav id="details">
    <ul>
      {% for i in images %}
        <li data-index="{{ i.basename | minus: 1 }}">{{ i.basename }}</li>
      {% endfor %}
    </ul>
  </nav>

  <script type="text/javascript" src="/assets/js/gallery.js"></script>

{% else %}
  {{ content }}
{% endif %}
