---
layout: default
---

{% if page.collection == "projects" %}
  {% assign is_project = true %}
  {% assign slug = page.path | split: "/" | shift | first %}
  {% assign images = site.documents
      | where_exp: "d", "d.path contains slug"
      | where_exp: "d", "d.name" %}
  {% assign image_exts = ".jpg .png .gif" %}
  {% assign embed_exts = ".html" %}
{% endif %}



<nav id="projects">
  <ul{% if is_project %} class="details"{% endif %}>
    {% for p in site.projects reversed %}
        {% if p.url == page.url %}
          <li class="viewing">
            <h1>{{ page.title }}</h1>
            <p>{{ page.date | date: "%Y" }}</p>
            <p>{{ page.medium }}</p>
            <p>{{ page.dimension | replace: " x ", "&thinsp;&times;&thinsp;" }}</p>
          </li>
        {% else %}
          <li><a href="{{ p.url | replace: "index.html", "" }}">{{ p.title }}</a></li>
        {% endif %}
    {% endfor %}

    <li>
      <a href="#">one two three four</a>
    </li>
    <li>
      <a href="#">fivesix</a>
    </li>
    <li>
      <a href="#">lorem ipsum</a>
    </li>
    <li>
      <a href="#">a, b, c, d, e</a>
    </li>
    <li>
      <a href="#">rules, borders, ornaments</a>
    </li>
    <li>
      <a href="#">US1383A</a>
    </li>

  </ul>
</nav>






{% comment %}

<div id="right">
  <ul id="images">
    {% for a in images %}
      <li>
        {% if image_exts contains a.extname %}
          <img src="{{ a.name }}"/>
        {% elsif embed_exts contains a.extname %}
          {% include_relative {{ a.name }} %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

{% endcomment %}
