---
layout: default
---

{% if page.collection == "projects" %}
  {% assign is_project = true %}
  {% assign slug = page.path | split: "/" | shift | first %}
  {% assign images = site.documents
      | where_exp: "d", "d.path contains slug"
      | where_exp: "d", "d.name"
      | sort: "basename" %}
  {% assign image_exts = ".jpg .png .gif" %}
  {% assign embed_exts = ".html" %}
{% endif %}



<nav id="projects">
  <ul{% if is_project %} class="details"{% endif %}>
    {% for p in site.projects reversed %}
        {% if p.url == page.url %}
          <li class="viewing">
            <h1>{{ page.title }}</h1>
            <p>{{ page.date | date: "%Y" }}</p>
            <p>{{ page.medium }}</p>
            <p>{{ page.dimension | replace: " x ", "&thinsp;&times;&thinsp;" }}</p>
          </li>
        {% else %}
          <li><a href="{{ p.url | replace: "index.html", "" }}">{{ p.title }}</a></li>
        {% endif %}
    {% endfor %}

    <li>
      <a href="#">one two three four</a>
    </li>
    <li>
      <a href="#">fivesix</a>
    </li>
    <li>
      <a href="#">lorem ipsum</a>
    </li>
    <li>
      <a href="#">a, b, c, d, e</a>
    </li>
    <li>
      <a href="#">rules, borders, ornaments</a>
    </li>
    <li>
      <a href="#">US1383A</a>
    </li>

  </ul>
</nav>

{% if is_project %}

  <div id="gallery">
    <ul>
      {% for i in images %}
        {% assign details = page.settings[i.name] %}

        {% if details.full %}
          <li id="{{ i.basenme }}"
              class="full"
              style="background-image: url('{{ i.name }}');">
        {% else %}
          <li id="{{ i.basename }}"
              {% if details.clean %} class="clean"{% endif %}>
            {% if image_exts contains i.extname %}
              <img src="{{ i.name }}"/>
            {% elsif embed_exts contains i.extname %}
              {% include_relative {{ i.name }} %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <nav id="details">
    <ul>
      {% for i in images %}
        <li{% if forloop.index == 1 %} class="viewing"{% endif %}>
          <a href="#{{ i.basename }}">{{ i.basename }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>

{% else %}
  {{ content }}
{% endif %}

<script type="text/javascript" src="/assets/js/gallery.js"></script>
